{% extends 'map/layout.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href='{% static 'map/css/styles.css' %}'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="{% static 'map/js/main.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 id="last-point-info"></h1>
    <div id="map-container">
        <div id="map"></div>
    </div>

    <button id="get_all_points" class="btn btn-primary">Get all points</button>

    <ul id="points" ></ul>
{% endblock %}